html {
  background-color: #7FDBFF;
}

.box {
  height: 70px;
  left: 200px;
  position: absolute;
  width: 70px;
  transition: top 0.1s ease;
}

img {
  height: 70px;
  width: 70px;
  /*position: relative;*/
  /*overflow: auto;*/
}

.columns {
  position: relative;
  height: inherit;
}

.column {
  transition: all 0.1s ease;
}

.game-container {
  position: relative;
  background-color: grey;
  overflow: hidden;
  height: 650px;
}

.hidden {
  visibility: hidden;
}
