html {
  background-color: #7FDBFF;
}

.box {
  position: relative;
  height: 80px;
  width: 80px;
  top: 10px;
  left: 70px;
  /*transition: top 0.1s ease;*/
}

img {
  height: 80px;
  width: 80px;
  /*position: relative;*/
  /*overflow: auto;*/
}

.columns {
  position: relative;
  height: inherit;
}

.column {
  transition: left 2s ease;
}

.game-container {
  background-color: grey;
  overflow: hidden;
  height: 650px;
}

.hidden {
  visibility: hidden;
}
